---
import { getPostUrlBySlug } from '@utils/url-utils'
import PostCard from './PostCard.astro'
import type { Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
type PagedData = Page<CollectionEntry<'posts'>>
interface Props {
    page: PagedData
}
const { page } = Astro.props

let delay = 0
const interval = 50
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {page.data.map((entry) => {
        return (
            <PostCard
                    entry={entry}
                    title={entry.data.title}
                    tags={entry.data.tags}
                    created_at={entry.data.created_at}
                    url={getPostUrlBySlug(entry.slug)}
                    draft={entry.data.draft}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            ></PostCard>
        );
    })}
</div>